body {
    background-color: lightblue
}

#box {
    border: 2px solid black;
    padding: 2px;
}

#button {
    border-radius: 5px;
    border: 2px solid black;
    padding: 5px;
    margin: 2px;
}

#box3 {
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    border: 2px solid black;
    padding: 1%;
    margin: 1%;
}